

  h2 {
    font-size: 100;
    weight: 200;
  
  }

  div.header {
    float: left;
    
  }
nav {
    background: red;
    color: #ffff;
   
    
}

a {
  font-weight: 700;
  color:  #ffff;
 
}

div.container-fluid {
 position: fixed;
 padding: 0;
 margin: 0;
}

.navbar {
  position: absolute;
 padding-left: 0;
}