div.thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  padding-top: 20%;
  border: 1px solid white;
  float: left;
}

div.thumbnail:hover {
  
  
  border: 1px solid aqua;
}

div {
  margin: 4px 4px 4px 4px; 
}

.shake {
  
}